EgyenlitoWin/Service References/DataProviderService/WinDataProviderService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WinDataProviderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ujegyenlito.softit.hu/Egyenlito/WCF/WinDataProviderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ujegyenlito.softit.hu/Egyenlito/WCF/WinDataProviderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWinDataProviderService_GetNewspapers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewspapers" />
  </wsdl:message>
  <wsdl:message name="IWinDataProviderService_GetNewspapers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewspapersResponse" />
  </wsdl:message>
  <wsdl:message name="IWinDataProviderService_GetAllArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticles" />
  </wsdl:message>
  <wsdl:message name="IWinDataProviderService_GetAllArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IWinDataProviderService_GetArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticles" />
  </wsdl:message>
  <wsdl:message name="IWinDataProviderService_GetArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWinDataProviderService">
    <wsdl:operation name="GetNewspapers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWinDataProviderService/GetNewspapers" message="tns:IWinDataProviderService_GetNewspapers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWinDataProviderService/GetNewspapersResponse" message="tns:IWinDataProviderService_GetNewspapers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IWinDataProviderService/GetAllArticles" message="tns:IWinDataProviderService_GetAllArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWinDataProviderService/GetAllArticlesResponse" message="tns:IWinDataProviderService_GetAllArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IWinDataProviderService/GetArticles" message="tns:IWinDataProviderService_GetArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWinDataProviderService/GetArticlesResponse" message="tns:IWinDataProviderService_GetArticles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWinDataProviderService" type="tns:IWinDataProviderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewspapers">
      <soap:operation soapAction="http://tempuri.org/IWinDataProviderService/GetNewspapers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArticles">
      <soap:operation soapAction="http://tempuri.org/IWinDataProviderService/GetAllArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticles">
      <soap:operation soapAction="http://tempuri.org/IWinDataProviderService/GetArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WinDataProviderService">
    <wsdl:port name="BasicHttpBinding_IWinDataProviderService" binding="tns:BasicHttpBinding_IWinDataProviderService">
      <soap:address location="http://ujegyenlito.softit.hu/Egyenlito/WCF/WinDataProviderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>